# Database Configuration
DB_HOST=vps114316.serveur-vps.net
DB_USER=c0col0154
DB_PASSWORD=zr_L)OBHQTggy
DB_NAME=c0col0154
DB_PORT=3306

# Email Configuration (Nodemailer)
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
