@import "tailwindcss";

/* Hide Google Translate UI */
.goog-te-banner-frame.skiptranslate, 
.goog-te-gadget-icon,
.goog-te-gadget-simple img,
.goog-te-menu-value span {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-gadget {
  font-family: inherit !important;
}

#google_translate_element {
  display: none !important;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

@layer base {
  html, body {
    @apply h-full overflow-x-hidden;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    @apply min-h-full flex flex-col;
  }
}

@layer utilities {
  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
